<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=B612+Mono|Cabin:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
  <link href="{{ url_for('static', filename='css/jquery.mb.YTPlayer.min.css') }}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">

    <style type="text/css">
        a:hover { color: #0d95e8 !important }
    </style>




</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    
    <div class="header-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 d-flex">
            <a href="{{ url_for('index') }}" class="site-logo">My Blog</a>

            <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                class="icon-menu h3"></span></a>

          </div>
          <div class="col-12 col-lg-6 ml-auto d-flex">
            <div class="ml-md-auto top-social d-none d-lg-inline-block"></div>

            <form action="{{ url_for('search') }}" method="post" class="search-form d-inline-block">
              <div class="d-flex">
                <input type="text" name="search" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-primary" style="background-color: #0d95e8 !important; border-color: #0d95e8;"><span class="icon-search"></span></button>
              </div>
            </form>

            
          </div>
          <div class="col-6 d-block d-lg-none text-right">
            
          </div>
        </div>
      </div>
      


      
      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          
          <div class="mr-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                <li>
                  <a href="{{ url_for('index') }}" class="nav-link text-left">Home</a>
                </li>
                {% if not session.username %}
                <li>
                  <a href="{{ url_for('login') }}" class="nav-link text-left">Login</a>
                </li>
                <li>
                  <a href="{{ url_for('register') }}" class="nav-link text-left">Register</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('add_post') }}" class="nav-link text-left">Poster</a>
                </li>
                <li>
                  <a href="{{ url_for('logout') }}" class="nav-link text-left">Logout</a>
                </li>
                {% endif %}
              </ul>                                                                                                                                                                                                                                                                                         
            </nav>

          </div>
         
        </div>
      </div>

    </div>
    
    </div>

    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="section-title">
              <span class="caption d-block small">Categories</span>
              <h2>{{ tag }}</h2>
            </div>

            {% if session.username %}
            {% for row in post %}
            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('{{ url_for('static', filename=tag_filename[loop.index - 1]) }}')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href="{{ url_for('article', post_id=row.post.id) }}">{{ row.post.title }}</a></h2>
                <p class="mb-3" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">
                    {{ row.post.text }}
                </p>
                <div class="post-meta">
                  <span class="d-block"><span href="#">By {{ row.username }}</span></span>
                  <span class="date-read">date <span class="mx-1">&bullet;</span>{{ row.post.date }}<span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            {% endfor %}

            {% else %}
            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('../static/images/img_h_3.jpg')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            {% endif %}

          </div>
          <div class="col-lg-3">
            <div class="section-title">
              <h2>Articles Recommendés</h2>
            </div>

            {% if session.username %}
            {% for row in similar_posts %}
            <div class="trend-entry d-flex">
              <div class="number align-self-start">0{{ loop.index }}</div>
              <div class="trend-contents">
                <h2><a href="{{ url_for('article', post_id=row.post.id) }}">{{ row.post.title }}</a></h2>
                <div class="post-meta">
                    <span class="d-block"><span >{{ similar_user }}</span> in <span >{{ ", ".join(row.tags) }}</span></span>
                  <span class="date-read">date <span class="mx-1">&bullet;</span>{{ row.post.date }}<span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            {% endfor %}

            {% else %}
            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>


    
    <div class="footer">
      <div class="container">
        

        <div class="row">
          <div class="col-12">
            <div class="copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"  style="color: #0d95e8">My Blog</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>
  <!-- .site-wrap -->



  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.mb.YTPlayer.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>